body {
  background-color: #282c34;
  color: white;
}

.dropdown-toggle {
  width: 200px;
}

.dropdown-menu {
  width: 400px;
}

#bookIcon {
  max-width: 100px;
}

#toggleBookshelfButton {
  width: 400px;
  height: 62px;
}

.small-image {
  width: 80px;
  margin: 2px
}

.large-image {
  width: 250px;
}

.offcanvas {
  min-width: 600px;
}

.star {
  color: rgba(0, 0, 0, 0.651);
}

.active {
  color: gold;
}

/* App.css */

@media screen and (max-width: 900px) {
  /* Adjust the styles for smaller screens */
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #bookIcon {
    max-width: 100px;
  }
  
  .display-3 {
    font-size: 40px;
  }
  
  .h5 {
    font-size: 14px;
  }
  
  .fs-5 {
    font-size: 14px;
  }
  
  .small {
    font-size: 12px;
  }

  .w-50 {
    width: 100% !important;
  }

  .offcanvas {
    min-width: 100vw;
  }
}
