body {
  background-color: #282c34;
  color: white;
}

.dropdown-toggle {
  width: 200px;
}

.dropdown-menu {
  width: 400px;
}

#bookIcon {
  max-width: 100px;
}

#toggleBookshelfButton {
  width: 400px;
  height: 62px;
}

.small-image {
  max-width: 80px;
}

.offcanvas {
  min-width: 600px;
}

.star {
  color: rgba(0, 0, 0, 0.129);
}

.active {
  color: gold;
}
