* {
  box-sizing: border-box;
}

body {
  font-family: "gothammedium";
}

/* Font weight. black = fetast, thin = tunnast */
._black {
  font-family: "gothamblack";
}

._bold {
  font-family: "gothambold";
}

._medium {
  font-family: "gothammedium";
}

._book {
  font-family: "gothambook";
}

._thin {
  font-family: "gothamthin";
}

/* Letter spacing */
._ls-1 {
  letter-spacing: -1px;
}

._ls-2 {
  letter-spacing: -2px;
}

._ls-3 {
  letter-spacing: -3px;
}

._ls-4 {
  letter-spacing: -4px;
}

._ls-5 {
  letter-spacing: -5px;
}

/* Justerad och centrerad text */
._justify {
  text-align: justify;
}

._center {
  text-align: center;
}

/* Cursor  */
._cur-context:hover {
  cursor: context-menu;
}

._button {
  width: 239px;
  height: 56px;
}

._button-round {
  width: 50px;
  height: 50px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f156;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
